<section id="task-container" class="main-container">
  <div id="msg-list-container" class="container">
    <h2>Chat</h2>
    <div id="msg-list-scroll">
      <div id="msg-list" *ngFor="let message of messageService.messages">
        <div class="msg-container"
          [class.msg-highlight]="message.sender === highlightUser"
          [class.msg-mine]="message.sender === currUser"
        >
          <div class="msg-time msg-part">
            {{ message.timestamp | date:'yy-MM-dd  HH:mm' }}
          </div>
          <div class="msg-sender msg-part">
            {{ message.sender }}
          </div>
          <div class="msg-msg msg-part">
            {{ message.msg }}
          </div>
        </div>
      </div>
    </div>
    <form id="msg-form">
      <input type="text" id="msg-msg" class="msg-ip" [(ngModel)]="currMsg" name="currMsg" placeholder="new message">
      <input type="text" id="msg-sender" class="msg-ip" [(ngModel)]="currSender" name="currSender" placeholder="mimic user">
      <button type="button" class="btn-std" (click)="addMsg()">send</button>
    </form>
  </div>
</section>