/* Global Styles */
/* everywhere else */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.main-container {
  width: 75%;
  margin: 0 auto;
}

h1, h2, h3 {
  margin: 0;
  color: #5d5d75;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
}

body {
  width: 90%;
  margin:0 auto;
}

.btn-std {
  width: 52px;
  margin: 1px;
  padding: 2px;
  border-radius: 4px;
  background-color: #aaaaaa;
  font-size: 0.7em;
}

