* {
  font-size: 1em;
}

#task-container {
  margin-top: 20px;
  width: 70vw;
}

.task-container {
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
}

.task-container button {
  display: inline-block;
  float: right;
}

.task-odd {
  background-color: #cccccc;
}

.task-text {
  font-size: 1em;
  color: #616266;
  font-weight: 600;
}

.small-text {
  margin-top: 4px;
  padding-left: 20px;
  font-size: .88em;
  color: #3838ff;
}

#ctrl-links {
  float: right;
}

.edit-link a {
  color: #247019;
  text-decoration: none;
}

.del-link a {
  color: #a50707;
  text-decoration: none;
}

#add-task {
  width: 100%;
  margin: 10px;
  padding: 5px;
}

.form-group {
  margin: 10px;
}

.form-group input {
  width: 70%;
  padding: 2px;
}

.form-controls {
  margin-top: 10px;
  float: right;
}

label {
  display: inline-block;
  width: 100px;
}