.container {
  width: 95%;
  height: 45vh;
  padding: 10px;
  margin: 5px auto;
  border: 2px solid #8f8e8e;
  border-radius: 2px;
}

#task-view-container {
  height: 35vh;
}


#task-list-scroll {
  height: 70%;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

h2 {
  margin: 0 0 10px 10px;
}

.task-container {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #1a1acf;
  color: #d4d4d4;
}

.my-task {
  background-color: #f0f03b;
  color: black;
}

.my-task .task-task, .my-task .task-ctrls span a {
  color: black;
}

.task-task {
  display: inline-block;
  font-size: .9em;
  color: #f1f180;
}

.task-ctrls {
  float: right;
}

.task-ctrl {
  margin: 0 2px;
}

.task-ctrls span, .task-ctrls span a {
  font-size: .9em;
  text-decoration: none;
  color: #d4d4d4;
}

.task-body span {
  font-size: .78em;
}

#add-task-btn {
  float: right;
}

.task-lbl {
  display: inline-block;
  width: 60px;
  font-size: .9em;
  font-weight: 600;
  color: #5d5d75;
}

.task-ip {
  width: 60%;
  margin: 2px;
  padding: 4px;
  border: 1px solid #8d8d8d;
  border-radius: 2px;
}

.form-controls, .view-controls {
  margin-top: 10px;
}

.view-group {
  margin: 5px;
}

#task-msg-container {
  height: auto;
}

#task-msg-container span {
  display: inline-block;
  min-width: 50px;
  font-size: .75em;
}

#task-msg-scroll {
  margin-top: 5px;
  color: blue;
  font-weight: 600;
}

#task-msg-form {
  margin-top: 10px;
}

.task-msg-ip {
  width: 70%;
  margin: 2px;
  padding: 2px;
  font-size: .9em;
  border: 1px solid #8d8d8d;
  border-radius: 2px;
}
