<h1>Tasks</h1>
<div id="task-list" *ngFor="let task of taskService.tasks">
  <div class="task-container">
    <div>
      {{ task.task }}
      <span class="del-link" (click)="deleteTask(task.id)"><a href="#">del</a></span>
    </div>
    <div class="small-text">
      {{ task.contact }} - 
      {{ task.addr }}
    </div>
  </div>
</div>
<div id="add-task">
  <input id="task-box" [(ngModel)]="currTask" name="currTask" placeholder="task">
  <input id="contact-box" [(ngModel)]="currContact" name="currContact" placeholder="contact">
  <input id="address-box" [(ngModel)]="currAddress" name="currAddress" placeholder="address">
  <input id="csz-box" [(ngModel)]="currCsz" name="currCsz" placeholder="city, st zip">
  <button type="button" (click)="addTask()">add</button>
</div>